html, body, main, header, h1, footer {
    margin: 0;
    padding: 0;
    -webkit-touch-callout:none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Modern browsers */
}

body {
    background: #000;
    font-family: sans-serif;
    color: #fff;
    height: 100vh;
}

.page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

h1 {
    display: none;
    font-size: 20vw;
    letter-spacing: 6px;
    text-transform: uppercase;
}

.row {
    display: block;
    text-align: center;
}

@media (orientation: portrait) {
    .row span {
        display: block;
    }
}

a {
    font-size: 12px;
    text-decoration: none;
    text-transform: uppercase;
}

a:hover {
    text-decoration: underline;
}

.footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background: transparent;
    line-height: 1.15;
    text-align: center;
    height: 32px;
}

/* CUSTOM BROWSER SCROLLBAR */
/* Chrome, Safari, Edge 79+ */
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #f8d9d9;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #f1aeae;
}

/* Firefox */
html {
    scrollbar-color: #f8d9d9 transparent;
    scrollbar-width: thin;
    overflow-x: hidden;
}